<mat-card *ngIf="solucion" class="solucion-card">
    <mat-card-title>Solución <mat-icon (click)="cerrar()" class="boton-cerrar">close</mat-icon></mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let resumen of solucion">
                <mat-expansion-panel-header>Solución para "{{resumen.Nombre}}"</mat-expansion-panel-header>

                <p><b>Presupuesto:</b> ${{resumen.Presupuesto}} vs <b>Sueldos:</b> ${{resumen.Sueldos}}</p>
                <h3>Hard Skills</h3>
                <p><b>Desarrollo requeridas</b> {{resumen.PersonasRequeridas[0] || 0}} vs <b>asignadas</b> {{resumen.HardSkills[0] || 0}}</p>
                <p><b>Diseño requeridas</b> {{resumen.PersonasRequeridas[1] || 0}} vs <b>asignadas</b> {{resumen.HardSkills[1] || 0}}</p>
                <p><b>Operaciones requeridas</b> {{resumen.PersonasRequeridas[2] || 0}} vs <b>asignadas</b> {{resumen.HardSkills[2] || 0}}</p>
                <h3>Soft Skills</h3>
                <p><b>Negociación</b> {{resumen.SoftSkills[0] || 0}} <b>Mentoreo:</b> {{resumen.SoftSkills[1] || 0}} <b>Investigación:</b> {{resumen.SoftSkills[2] || 0}}</p>
                <h3>Seniorities</h3>
                <p><b>Junior:</b> {{resumen.Seniorities[1] || 0}} <b>Semi:</b> {{resumen.Seniorities[2] || 0}} <b>Senior:</b> {{resumen.Seniorities[3] || 0}}</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>