<mat-card class="resumen-card">
    <mat-card-title>Resumen</mat-card-title>
    <mat-card-content>
        <div class="contenedor-descripcion"><mat-icon color="accent">account_circle</mat-icon> <span id="personas" class="descripcion">Cantidad de personas {{resumen.personas}}</span></div>
        <div class="contenedor-descripcion"><mat-icon color="accent">list</mat-icon> <span id="proyectos" class="descripcion">Cantidad de proyectos {{resumen.proyectos}}</span></div>
    </mat-card-content>
</mat-card>
