<mat-card *ngIf="proyecto" class="proyecto-card">
    <mat-card-title>{{proyecto.nombre}} <mat-icon (click)="editar()">edit</mat-icon>
    </mat-card-title>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Datos del proyecto
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p><b>Presupuesto:</b> ${{proyecto.presupuesto}}</p>
                <p><b>Desarrollo:</b> {{proyecto.personasRequeridas[0]}} personas(s)</p>
                <p><b>Diseño:</b> {{proyecto.personasRequeridas[1]}} personas(s)</p>
                <p><b>Operaciones:</b> {{proyecto.personasRequeridas[2]}} personas(s)</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{proyecto.personasAsignadas? proyecto.personasAsignadas.length : 0}} Personas asignadas
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngIf="proyecto.personasAsignadas && proyecto.personasAsignadas.length">
                        <mat-chip-list>
                            <mat-chip *ngFor="let persona of proyecto.personasAsignadas">{{persona.nombre}}</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div *ngIf="!proyecto.personasAsignadas || !proyecto.personasAsignadas.length">Aún no hay personas asignadas</div>
                </mat-expansion-panel>
            </mat-accordion>
    </mat-card-content>
</mat-card>