.contenedor-principal {
    display: flex;
}

.contenedor-edicion {
    display: flex;
}

.boton-alta {
    margin: 10px;
}

.inner-comparar {
    display: flex;
    align-items: center;
}

.spinner {
    margin: 10px;
}