<mat-toolbar id="pyp-toolbar" color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<div class="mat-app-background basic-container">

  <div class="contenedor-principal">
    <app-resumen-empresa [mostrarPersonas]="mostrarPersonas" (mostrarPersonasChange)="this.mostrarPersonas= $event"
      [mostrarProyectos]="mostrarProyectos" (mostrarProyectosChange)="this.mostrarProyectos= $event">
    </app-resumen-empresa>
    <div>
      <app-lista-personas *ngIf="mostrarPersonas"></app-lista-personas>
      <app-lista-proyectos *ngIf="mostrarProyectos"></app-lista-proyectos>
    </div>
  </div>

  <div class="contenedor-edicion">
    <div>
      <app-form-persona></app-form-persona>
      <button mat-raised-button (click)="nuevaPersona()" id="boton-alta-persona" class="boton-alta">
        <mat-icon>add</mat-icon> Nueva persona
      </button>
    </div>

    <div>
      <app-form-proyecto></app-form-proyecto>
      <button mat-raised-button (click)="nuevoProyecto()" id="boton-alta-proyecto" class="boton-alta">
        <mat-icon>add</mat-icon> Nuevo proyecto
      </button>
    </div>

    <div>
      <app-solucion></app-solucion>
      <button mat-raised-button (click)="solucionar()" id="boton-solucion" class="boton-alta">
        <mat-icon>sync_alt</mat-icon> Asignar personas a proyectos
      </button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>